@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <p>
        In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
        “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four
        Quadrants.
    </p>
    <img src="~/img/covey.jpeg" width="600" height="400" />

</div>
